/*
Common Parameters:

selector(tag, .class, or #id) {

color:#FFF; or red;
background-color:#FFF; or red;

opcaity: (from 0.00-1.00)

font-family: Arial
font-size: 14px;
font-weight: bold;

text-align: left, center, right;
text-transform: uppercase, lowercase;

background: red; linear-gradient, radial gradient; 
background-image: url("https://_______.com") or url("./img/image1.jpg");

height: 200px;

list-style: square, round

border: width(300px) style(none, dotted, solid), color(red, blue, etc.);
border-radius: 5px;

padding: 10px auto;
padding-(top right bottom left): 10px auto;

margin: 10px auto;
margin-(top right bottom left): 10px auto;

min-(width or height): 300px;
max-(width or height): 600px;

overflow: hidden, visible, scroll;

visibility: hidden, visible;

display: none; *removes element and space from webpage* inline; block; inline-block;

box-sizing: border-box or content-box

position: static (default), relative, absolute, fixed (locks element even if user scrolls);
top: 50px;
right: 50px;
bottom: 50px;
left: 50px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box or content-box;
}

@font-face {
		font-family: "Signika";
		src: url('../css/fonts/signika.ttf') format('truetype');

}

*/
	


	/*NAV MENU*/

	* {
		font-family: 'Source Code Pro', monospace;
		box-sizing: border-box;
		color: gray;
	}

	.menu {
		position: fixed;
	}
	
	.banner {
	/* border: 2px solid gray; */
	width: 400px;
	margin: 30px 30px;
	}


	.links {
	font-size: 18px;
	position: relative;
		left: 20px;
	}

	li {
	list-style: none;
	position: relative;
		top: -15px;
	}

	li:hover {
	font-size: 20px;
	color: white;
	width: 200px;
	background: gray;
	list-style: none;
	position: relative;
		top: -15px;
	}

	.herotext {
	font-size: 32px;
	text-align: left;
	position: relative;
		left: 30px;
	}

	/*BACKGROUND*/

	body {
		background: black url('https://i.imgur.com/WlPnN0c.jpg') no-repeat;
		background-size: cover;
		position: relative;
		z-index: 0;
	}

	/*FOOTER*/

	footer {
		background: rgba(0, 0, 0, .3);
		position: fixed;
		z-index: 10;
		bottom: 0;
		width: 200%;
		font-size: 14px;
		padding-left: 20px;
		margin-left: -10px;
	}

	/*EXTERNAL LOGOS*/

	footer .external_logo_1 {
		z-index: 11;
		height: 40px;
		width: 40px;
		opacity: .3;
		margin-bottom: 5px;
		margin-right: 30px;
		position: fixed;
			right: 0;
			bottom: 0;
	}

		footer .external_logo_1:hover{
			opacity: 1;
		}

	footer .external_logo_2 {
		z-index: 11;
		height: 40px;
		width: 40px;
		opacity: .3;
		margin-bottom: 5px;
		margin-right: 100px;
		position: fixed;
			right: 0;
			bottom: 0;
	}

		footer .external_logo_2:hover{
			opacity: 1;
		}

	footer .external_logo_3 {
		z-index: 11;
		height: 40px;
		width: 40px;
		opacity: .3;
		margin-right: 170px;
		margin-bottom: 5px;
		position: fixed;
			right: 0;
			bottom: 0;
	}

		footer .external_logo_3:hover{
			opacity: 1;
		}

	footer .external_logo_4 {
		z-index: 11;
		height: 40px;
		width: 40px;
		opacity: .3;
		margin-right: 240px;
		margin-bottom: 5px;
		position: fixed;
			right: 0;
			bottom: 0;
	}

		footer .external_logo_4:hover{
			opacity: 1;
		}

/*ANIMATIONS*/

	._ {
  animation: blinker 1.85s linear infinite;
}

	@keyframes blinker {
	  50% {
	 opacity: 0;
	  }
	}